h1 {
  font-family: Arial;
  font-size: 100px;
  color: darkorange;
}
p {
  font-family: Arial;
  font-size: 20px;
  color: red;
display:
}
a {
  font-size: 20px;
  text-decoration: none;
}
div{
width: 200px;
height: 3000px;
background-color: #FF55BC;
}
